# Raw image files
*.xcf

# Unused icons
icons/icon48.png

# Unused fonts
general/fonts/*/unused

# Palettes
palettes

# Old files
*_old.*

# Unused history pages (new to old)
history_old (2)
history_old

# Unused popup versions (new to old)
inject_iframe
inject_direct
