/* Style for individual citation elements */


.citation {
	margin-bottom: 8px;
}

.citation .dropdown {
	background: var(--content-background-dark);
}


.citation-table {
	height: 100%;
}

.citation-table td {
	position: relative;

	background: var(--content-background-dark);
	box-shadow: 1px 1px 4px rgb(6, 8, 8);
}

.citation-table img {
	filter: invert(0.4);
}


/* Left section */
.citation-section-left {
	width: 60px;

	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.citation-checkbox {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	cursor: pointer;
}


/* Center section */
.citation-section-center {
	vertical-align: top;

	width: 550px;
}

.citation-name {
	display: inline-block;
	margin: 6px 16px;

	font-size: 20px;
	color: var(--text-primary-dark);
}

.citation-created {
	float: right;
	display: inline-block;

	margin: 6px 16px;

	font-size: 20px;
	color: var(--text-primary-dark);
}

.citation-body {
	display: block;
	margin: 8px 28px;
	margin-bottom: 10px;

	max-width: 90%;

	font-size: 16px;
	font-family: times;
	color: var(--text-secondary-dark);

	white-space: pre-wrap;
	word-break: break-all;
}

.citation-containers {
	position: relative;
	margin-left: 4%;

	width: 92%;
	height: 30px;

	background: rgba(255, 255, 255, 0.025);
	border-radius: 4px;
}

.show-containers {
	position: absolute;
	top: 3px;
	right: 4px;

	background: rgba(255, 255, 255, 0.1);
	border-radius: 2px;

	cursor: pointer;
}


/* Right section */
.citation-section-right {
	width: 60px;

	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	cursor: grab;
}

.citation-drag {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
