body {
	width: 100%;
	height: 100%;
}


/* Content sections */
main {
	display: flex;

	width: 100%;
	height: calc(100% - var(--heading-height));
}


/* Left section */
#section-left {
	display: flex;
	flex-direction: column;

	width: 320px;
	height: 100%;
}

#section-left h1 {
	margin: 12px;

	color: var(--text-primary);
}

#container-list {
	margin-bottom: 20px;

	width: 100%;
	height: 100%;

	overflow-y: scroll;
}


/* Middle section */
#section-center {
	flex: 1;

	display: flex;
	flex-direction: column;

	max-width: calc(100% - 414px);
	height: 100%;

	border-left: 2px solid var(--section-border);
	border-right: 2px solid var(--section-border);
}

/* Tab contents */
#tab-contents {
	width: 100%;
	height: 100%;

	overflow: hidden;
}


/* Right section */
#section-right {
	display: flex;
	flex-direction: column;

	justify-content: center;

	width: 90px;
	height: 100%;
}

#social-icons {
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 100%;
}

#social-icons a {
	display: block;
	margin: 12px 0;

	width: 48px;
	height: 48px;
}

#social-icons a > img {
	display: block;

	width: 48px;
	height: 48px;

	transition: filter 0.1s;
}
#social-icons a > img:hover {
	filter: drop-shadow(2px 2px 1px rgb(20, 20, 20));
}
