/* Citation Tabs */
#citation-tabs {
	position: relative;
}

.citation-tab {
	display: none;

	height: calc(100% - 32px);
	overflow-y: scroll;
}

.citation-tab-active {
	display: block;
}


/* "No citations" message */
#citations-empty {
	display: block;
	position: relative;

	width: 100%;
	height: 32px;
}
#citations-empty p {
	position: absolute;
	margin: 0;

	top: 50%;
	left: 325px; /* Half the search bar width */
	transform: translate(-50%, -50%);

	color: var(--text-secondary-dark);
	font-size: 17px;
}


/* Citation tab headers */
#tab-headers {
	width: calc(100% - 3px);
	height: 32px;

	background: rgb(26, 27, 29);
	border: 1px solid rgb(14, 18, 20);
}

.tab-headers-top {
	border-top: none !important;
}

.tab-headers-bottom {
	position: absolute;
	bottom: -1px;

	border-bottom: none !important;
}

.tab-header {
	position: relative;
	display: inline-block;

	width: 180px;
	min-width: 110px;
	height: 100%;

	background: Transparent;
	border-left: 3px solid Transparent;
	border-right: 1px solid rgb(14, 18, 21);
}

.tab-header span {
	position: absolute;
	top: 6px;
	left: 10px;

	width: 130px;

	font-size: 14px;
	color: rgb(100, 103, 108);

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	cursor: default;
}

.tab-header button {
	position: absolute;
	top: 6px;
	right: 8px;

	padding: 3px;

	width: 20px;
	height: 20px;

	background: rgb(45, 46, 49);
	border: none;
	border-radius: 2px;
}

.tab-header:first-child button {
	cursor: not-allowed;
}

.tab-header button img {
	width: 100%;
	height: 100%;

	filter: invert(0.4);
}

.tab-header-active {
	background: var(--background-dark);
	border-left-color: rgb(30, 100, 140);
}

.tab-header-active span {
	color: rgb(210, 215, 222);
}


/* New tab (import) */
#import-tab {
	display: inline-block;
	position: relative;

	margin: 5px;

	height: 22px;
	width: 22px;

	background: Transparent;
	border-radius: 3px;

	transition: background 0.2s;
}

#import-tab:hover {
	background: var(--content-background-dark);

	cursor: pointer;
}

#import-tab img {
	position: absolute;
	left: 1px;
	top: 1px;

	width: 20px;

	filter: invert(0.4);
}


/* Hidden import area */
#import-area {
	display: none;
}
