/* Tab headers */

#tab-headers {
	display: flex;

	width: 100%;
	min-height: 36px;
	max-height: 36px;

	background: var(--tab-headers-background);
	border-bottom: 2px solid var(--section-border);

	overflow-y: hidden;
}

#tab-headers::-webkit-scrollbar {
	display: none;
}

.tab-header {
	flex: 1;

	display: inline-block;
	position: relative;

	padding-left: 3px;

	min-width: 100px;
	max-width: 200px;
	width: 100%;

	user-select: none;

	background: var(--tab-header-background);
	border-right: 1px solid var(--tab-header-border);
	border-left-color: var(--tab-header-background);
}

.tab-header.active {
	padding: 0;
	border-left: 3px solid var(--tab-header-active-indicator);
}

.tab-header.closing {
	transition: max-width 0.3s, opacity 0.2s, border-width 0.3s;

	min-width: unset;
	max-width: 0;

	opacity: 0;
	border-width: 0;
}

.tab-title {
	position: absolute;
	display: block;
	margin: 9px 10px;

	width: calc(100% - 50px);

	color: var(--tab-header-title);
	font-family: "Varta";
	font-size: 15px;
	text-overflow: ellipsis;

	white-space: nowrap;
	overflow: hidden;
}

.tab-header.active .tab-title {
	color: var(--tab-header-title-active);
}

.tab-close-button {
	float: right;

	margin: 7px;
	padding: 0;

	width: 22px;
	height: 22px;

	background: var(--tab-header-close-background);
	border-radius: 3px;
	border: none;

	overflow: hidden;
	outline: none;

	transition: background 0.1s;
}

.tab-close-button:hover {
	background: var(--tab-header-close-background-hover);
}

.tab-header.non-removable .tab-close-button:hover {
	background: var(--tab-header-close-background);
	cursor: not-allowed;
}

.tab-close-button svg {
	margin: 3px 2px;

	width: 16px;
	height: 16px;

	fill: var(--tab-header-close-fill);

	transition: fill 0.1s;
}

.tab-close-button:hover svg {
	fill: var(--tab-header-close-fill-hover);
}


/* Tab creation */

#tab-create {
	margin: 7px 0 0 8px;
	padding: 1px 0;

	width: 22px;
	height: 22px;

	background: var(--tab-create-background);
	border-radius: 3px;

	border: none;
	outline: none;

	transition: background 0.15s;
}
#tab-create:hover {
	background: var(--tab-create-background-hover);
}

#tab-create svg {
	width: 20px;
	height: 20px;

	fill: var(--tab-create-fill);
}


/* Tab bodies */

.tab-body {
	width: 100%;
	height: 100%;

	overflow-y: scroll;
}
