/* Style for the citation container */


/* Default styles for all citation elements */
.citation-ext {
	all: initial;
	font-family: system-ui;
}


/* Container */
#citation-ext-container {
	position: fixed;
	display: block;

	top: 20px;
	right: 32px;

	width: 320px;
	height: 460px;

	background: var(--ext-background);
	border-radius: 8px;
	box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.6);

	overflow: hidden;
	z-index: 2147483647; /* Max z-index */
}


/* Container header */
#citation-ext-header {
	display: block;

	width: 100%;
	height: 36px;

	background: var(--ext-header);
	border-bottom: 1px solid var(--ext-outline);
}

#citation-ext-header span {
	display: inline-block;
	padding: 6px 12px;

	color: var(--ext-text-primary);
	user-select: none;
}

#citation-ext-close {
	display: inline-block;
	float: right;

	margin: 6px;

	width: 24px;
	height: 24px;

	color: var(--ext-text-secondary);
	font-size: 14px;
	text-align: center;

	background: rgb(53, 54, 58);
	border-radius: 3px;

	transition: color 0.2s, background 0.2s;
}

#citation-ext-close:hover {
	color: var(--ext-text-primary);

	background: rgb(71, 72, 76);
}


/* Popup content */
#citation-ext-popup {
	margin: 0;
	padding: 0;

	width: 100%;
	height: calc(100% - 37px);

	/* pointer-events set in drag.js */
}
