.citation-ext-list {
	margin: 0 !important;
	padding: 0 !important;

	width: 100% !important;

	background: rgb(65, 65, 65) !important;
}
.citation-ext-listadd {
	padding: 4px 8px !important;

	width: 100% !important;
	height: 26px !important;

	min-height: 0 !important;

	text-align: left !important;
	color: white !important;

	background: grey !important;
	border: 2px solid rgb(112, 112, 112) !important;
}


.citation-ext-listnode {
	margin: 0 !important;
	padding: 0 !important;

	width: 100% !important;

	background: Transparent !important;
}
.citation-ext-itemtoggle {
	margin: 0 !important;
	padding: 2px 0 !important;

	width: 100% !important;
	height: 22px !important;

	min-height: 0 !important;

	color: white !important;

	background: rgb(164, 164, 164) !important;
	border: none !important;
}


.citation-ext-listdata {
	display: block !important;

	margin: 0 !important;
	padding: 0 !important;

	width: 100% !important;

	background: Transparent !important;
}
.citation-ext-listdata:not(.citation-ext-listhidden) {
	display: block !important;
}
.citation-ext-listhidden {
	display: none !important;
}
