/*
	Note: I had to use '!important' as an alternative to
	'all: revert' because chrome doesn't support it
*/


:root {
	--background-color: rgb(40, 40, 40);
	--titlebar-color: rgb(70, 70, 70);
	--text-color: rgb(220, 220, 220);
	--button-color: rgb(140, 140, 140);
}


/* Popup window */
.citation-ext-popup {
	display: block !important;
	position: fixed !important;

	margin: 0 !important;
	padding: 0 !important;
	z-index: 2147483647 !important; /* Max z-index */

	width: 320px !important;
	height: 460px !important;

	font-family: system-ui !important;

	background: var(--background-color) !important;
	border-radius: 8px !important;
	box-shadow: 6px 8px 14px rgba(0, 0, 0, 0.6) !important;

	overflow: hidden !important;
}
.citation-ext-popup button {
	box-shadow: none !important;
}
.citation-ext-popup button:not(.citation-ext-disabled) {
	cursor: pointer !important;
}


/* Top bar (draggable) */
.citation-ext-titlebar {
	display: block !important;

	margin: 0 !important;
	padding: 0 !important;

	width: 100% !important;
	height: 36px !important;

	background: var(--titlebar-color) !important;
	border-radius: 0 !important;
}
.citation-ext-titlebar h1 {
	position: relative !important;

	margin: 0 !important;
	padding: 0 !important;

	top: 6px !important;
	left: 12px !important;

	line-height: normal !important;

	font-family: system-ui !important;
	font-weight: lighter !important;
	font-size: 18px !important;
	color: var(--text-color) !important;

	text-transform: none !important;
	cursor: default !important;
}
.citation-ext-close {
	display: block !important;
	position: absolute !important;

	margin: 0 !important;
	padding: 2px !important;

	top: 7px !important;
	right: 8px !important;

	min-width: 0 !important;
	min-height: 0 !important;

	max-width: 22px !important;
	max-height: 22px !important;

	width: 22px !important;
	height: 22px !important;

	font-size: 14px !important;
	color: white !important;

	background: rgb(110, 110, 110) !important;
	box-shadow: none !important;

	border: none !important;
	border-radius: 2px !important;
}


/* Popup content */
.citation-ext-body {
	margin: 8px !important;
	padding: 0 !important;

	width: 304px !important;
	height: 350px !important;

	background: Transparent !important;
	border: none !important;

	border-radius: 0 !important;
}
.citation-ext-panel {
	margin: 0 !important;
	padding: 0 !important;

	width: 100% !important;
	height: 100% !important;

	background: Transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.citation-ext-body h1 {
	margin: 18px 0 !important;
	padding: 0 !important;

	text-align: center !important;

	font-family: system-ui !important;
	font-size: 24px !important;
	font-weight: bold !important;
	color: rgb(240, 240, 240) !important;

	text-transform: none !important;
}


/* Getting the citation */
.citation-ext-update p {
	margin: 30px 5% !important;
	padding: 0 !important;

	width: 90% !important;

	text-align: center !important;

	font-size: 16px !important;
	font-family: sans-serif !important;
	color: rgb(112, 112, 112) !important;

	text-transform: none !important;
}
.citation-ext-skip {
	margin: 0 15% !important;
	padding: 0 !important;

	width: 212px !important;
	height: 36px !important;

	font-size: 15px !important;
	color: rgb(230, 230, 238) !important;

	background: rgb(120, 146, 174) !important;
	border: 2px solid rgb(90, 110, 144) !important;
	border-radius: 3px !important;
}
.citation-ext-next {
	position: absolute !important;

	margin: 0 !important;
	padding: 0 !important;

	width: 102px !important;
	height: 36px !important;

	bottom: 10px !important;
	right: 12px !important;

	font-size: 15px !important;
	color: rgb(230, 230, 238) !important;

	background: rgb(120, 174, 146) !important;
	border: 2px solid rgb(90, 144, 110) !important;
	border-radius: 3px !important;
}
.citation-ext-back {
	position: absolute !important;

	margin: 0 !important;
	padding: 0 !important;

	width: 102px !important;
	height: 36px !important;

	bottom: 10px !important;
	left: 12px !important;

	font-size: 15px !important;
	color: rgb(230, 230, 238) !important;

	background: rgb(180, 124, 146) !important;
	border: 2px solid rgb(144, 90, 110) !important;
	border-radius: 3px !important;
}


/* Editing & reviewing the citation */
.citation-ext-edit {
	margin: 8px 0 !important;
	padding: 0 !important;

	width: 100% !important;
	height: auto !important;

	background: Transparent !important;
}
.citation-ext-edit h2 {
	margin: 0 !important;
	padding: 6px 12px !important;

	font: none !important;
	font-family: system-ui !important;
	font-size: 20px !important;
	font-weight: bold !important;
	color: rgb(230, 230, 230) !important;

	text-transform: none !important;
}
.citation-ext-edit textarea {
	display: inline-block !important;
	box-sizing: content-box !important;

	margin: 0 !important;
	margin-top: 4px !important;
	margin-left: 8px !important;

	padding: 6px 0 1px 5px !important;

	width: 90% !important;
	min-height: 18px !important; /* Height set in edit.js */

	font: none !important;
	font-family: sans-serif !important;
	font-size: 14px !important;

	color: black !important;

	background: rgb(216, 216, 216) !important;
	border: 1px solid rgb(160, 160, 160) !important;
	border-radius: 3px !important;

	resize: none !important;
}
.citation-ext-edit input {
	display: inline-block !important;
	box-sizing: content-box !important;

	margin: 0 !important;
	margin-top: 4px !important;
	margin-left: 8px !important;

	padding: 4px 0 3px 5px !important;

	width: 90% !important;
	min-height: 18px !important;

	font: none !important;
	font-family: sans-serif !important;
	font-size: 14px !important;

	color: black !important;

	background: rgb(216, 216, 216) !important;
	border: 1px solid rgb(160, 160, 160) !important;
	border-radius: 3px !important;

	resize: none !important;
}
::placeholder {
	color: rgb(152, 152, 152) !important;
}
.citation-ext-finish p {
	margin: 30px 5% !important;
	padding: 0 !important;

	width: 90% !important;

	text-align: center !important;
	font-size: 16px !important;
	font-family: sans-serif !important;
	color: rgb(112, 112, 112) !important;
}

.citation-ext-editnext {
	position: absolute !important;

	margin: 0 !important;
	padding: 0 !important;

	width: 102px !important;
	height: 36px !important;

	bottom: 10px !important;
	right: 12px !important;

	font-size: 15px !important;
	color: rgb(230, 230, 238) !important;

	background: rgb(120, 174, 146) !important;
	border: 2px solid rgb(90, 144, 110) !important;
	border-radius: 3px !important;
}
.citation-ext-editback {
	position: absolute !important;

	margin: 0 !important;
	padding: 0 !important;

	width: 102px !important;
	height: 36px !important;

	bottom: 10px !important;
	left: 12px !important;

	font-size: 15px !important;
	color: rgb(230, 230, 238) !important;

	background: rgb(180, 124, 146) !important;
	border: 2px solid rgb(144, 90, 110) !important;
	border-radius: 3px !important;
}


.citation-ext-disabled {
	background: rgb(145, 145, 145) !important;
	border: 2px solid rgb(115, 115, 115) !important;
	cursor: not-allowed !important;
}
